@import '../common';

.navbar {
  height: 3.5rem;
  background-color: $primaryColor;
  padding: 0.5rem;


  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightBgColor;
    margin-right: 50%;
    font-size: 1rem;
  }

}
